**Домашнее задание 3**

В первой части третьего дз предлагается поработать с несколькими датасетами из соревнования [Boston Airbnb Open Data на Kaggle](https://www.kaggle.com/airbnb/boston). Данные можно найти на Kaggle, или по  [ссылке](https://drive.google.com/drive/folders/1lTAxxEwrCkd5WEQMJCJvBsFZc3tXgiyO?usp=sharing). Решите предложенные задания с использованием модуля Pandas (NumPy, разумеется, тоже разрешен).

Использование условий и циклов запрещено (списковые включения это тоже цикл!), за это будут обнуляться баллы.
Все задания равноценны (кроме нулевого, его выполнение необходимо для получения положительной оценки).
В каждой задаче постарайтесь придумать несколько решений. Если вы напишете несколько решений (или несколько способов сделать какую-то часть решения), сравните их производительность с помощью jupyter magics. Решением должен быть Jupyter notebook / ссылка на Colab

In [2]:
import pandas as pd
import numpy as np

listings = pd.read_csv('./listings.csv')
calendar = pd.read_csv('./calendar.csv')
reviews = pd.read_csv('./reviews.csv')

0. Внимательно посмотрите на данные в таблицах. При попытке посмотреть первые несколько строк в таблице listings с помощью pandas отображаются не все колонки. Сделайте так, чтобы отображались все столбцы

    Для всех ли объявлений есть календарь? Для какой доли объявлений нет ни одного отзыва? Сколько объявлений не были доступны для сдачи ни разу за представленный период?

In [3]:
listings.columns.tolist()

['id',
 'listing_url',
 'scrape_id',
 'last_scraped',
 'name',
 'summary',
 'space',
 'description',
 'experiences_offered',
 'neighborhood_overview',
 'notes',
 'transit',
 'access',
 'interaction',
 'house_rules',
 'thumbnail_url',
 'medium_url',
 'picture_url',
 'xl_picture_url',
 'host_id',
 'host_url',
 'host_name',
 'host_since',
 'host_location',
 'host_about',
 'host_response_time',
 'host_response_rate',
 'host_acceptance_rate',
 'host_is_superhost',
 'host_thumbnail_url',
 'host_picture_url',
 'host_neighbourhood',
 'host_listings_count',
 'host_total_listings_count',
 'host_verifications',
 'host_has_profile_pic',
 'host_identity_verified',
 'street',
 'neighbourhood',
 'neighbourhood_cleansed',
 'neighbourhood_group_cleansed',
 'city',
 'state',
 'zipcode',
 'market',
 'smart_location',
 'country_code',
 'country',
 'latitude',
 'longitude',
 'is_location_exact',
 'property_type',
 'room_type',
 'accommodates',
 'bathrooms',
 'bedrooms',
 'beds',
 'bed_type',
 'amenities',
 'square_feet',
 'price',
 'weekly_price',
 'monthly_price',
 'security_deposit',
 'cleaning_fee',
 'guests_included',
 'extra_people',
 'minimum_nights',
 'maximum_nights',
 'calendar_updated',
 'has_availability',
 'availability_30',
 'availability_60',
 'availability_90',
 'availability_365',
 'calendar_last_scraped',
 'number_of_reviews',
 'first_review',
 'last_review',
 'review_scores_rating',
 'review_scores_accuracy',
 'review_scores_cleanliness',
 'review_scores_checkin',
 'review_scores_communication',
 'review_scores_location',
 'review_scores_value',
 'requires_license',
 'license',
 'jurisdiction_names',
 'instant_bookable',
 'cancellation_policy',
 'require_guest_profile_picture',
 'require_guest_phone_verification',
 'calculated_host_listings_count',
 'reviews_per_month']

In [4]:
listings.head(3)

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,12147973,https://www.airbnb.com/rooms/12147973,20160906204935,2016-09-07,Sunny Bungalow in the City,"Cozy, sunny, family home. Master bedroom high...",The house has an open and cozy feel at the sam...,"Cozy, sunny, family home. Master bedroom high...",none,"Roslindale is quiet, convenient and friendly. ...",...,NaN,f,NaN,NaN,f,moderate,f,f,1,NaN
1,3075044,https://www.airbnb.com/rooms/3075044,20160906204935,2016-09-07,Charming room in pet friendly apt,Charming and quiet room in a second floor 1910...,Small but cozy and quite room with a full size...,Charming and quiet room in a second floor 1910...,none,"The room is in Roslindale, a diverse and prima...",...,9.0,f,NaN,NaN,t,moderate,f,f,1,1.30
2,6976,https://www.airbnb.com/rooms/6976,20160906204935,2016-09-07,Mexican Folk Art Haven in Boston,"Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...",none,The LOCATION: Roslindale is a safe and diverse...,...,10.0,f,NaN,NaN,f,moderate,t,f,1,0.47

In [5]:
pd.set_option('display.max_columns', None)

In [6]:
listings.head(3)

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,notes,transit,access,interaction,house_rules,thumbnail_url,medium_url,picture_url,xl_picture_url,host_id,host_url,host_name,host_since,host_location,host_about,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_thumbnail_url,host_picture_url,host_neighbourhood,host_listings_count,host_total_listings_count,host_verifications,host_has_profile_pic,host_identity_verified,street,neighbourhood,neighbourhood_cleansed,neighbourhood_group_cleansed,city,state,zipcode,market,smart_location,country_code,country,latitude,longitude,is_location_exact,property_type,room_type,accommodates,bathrooms,bedrooms,beds,bed_type,amenities,square_feet,price,weekly_price,monthly_price,security_deposit,cleaning_fee,guests_included,extra_people,minimum_nights,maximum_nights,calendar_updated,has_availability,availability_30,availability_60,availability_90,availability_365,calendar_last_scraped,number_of_reviews,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,12147973,https://www.airbnb.com/rooms/12147973,20160906204935,2016-09-07,Sunny Bungalow in the City,"Cozy, sunny, family home. Master bedroom high...",The house has an open and cozy feel at the sam...,"Cozy, sunny, family home. Master bedroom high...",none,"Roslindale is quiet, convenient and friendly. ...",NaN,"The bus stop is 2 blocks away, and frequent. B...","You will have access to 2 bedrooms, a living r...",NaN,Clean up and treat the home the way you'd like...,https://a2.muscache.com/im/pictures/c0842db1-e...,https://a2.muscache.com/im/pictures/c0842db1-e...,https://a2.muscache.com/im/pictures/c0842db1-e...,https://a2.muscache.com/im/pictures/c0842db1-e...,31303940,https://www.airbnb.com/users/show/31303940,Virginia,2015-04-15,"Boston, Massachusetts, United States",We are country and city connecting in our deck...,NaN,NaN,NaN,f,https://a2.muscache.com/im/pictures/5936fef0-b...,https://a2.muscache.com/im/pictures/5936fef0-b...,Roslindale,1,1,"['email', 'phone', 'facebook', 'reviews']",t,f,"Birch Street, Boston, MA 02131, United States",Roslindale,Roslindale,NaN,Boston,MA,02131,Boston,"Boston, MA",US,United States,42.282619,-71.133068,t,House,Entire home/apt,4,1.5,2.0,3.0,Real Bed,"{TV,""Wireless Internet"",Kitchen,""Free Parking ...",NaN,$250.00,NaN,NaN,NaN,$35.00,1,$0.00,2,1125,2 weeks ago,NaN,0,0,0,0,2016-09-06,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,NaN,NaN,f,moderate,f,f,1,NaN
1,3075044,https://www.airbnb.com/rooms/3075044,20160906204935,2016-09-07,Charming room in pet friendly apt,Charming and quiet room in a second floor 1910...,Small but cozy and quite room with a full size...,Charming and quiet room in a second floor 1910...,none,"The room is in Roslindale, a diverse and prima...","If you don't have a US cell phone, you can tex...",Plenty of safe street parking. Bus stops a few...,Apt has one more bedroom (which I use) and lar...,"If I am at home, I am likely working in my hom...",Pet friendly but please confirm with me if the...,https://a1.muscache.com/im/pictures/39327812/d...,https://a1.muscache.com/im/pictures/39327812/d...,https://a1.muscache.com/im/pictures/39327812/d...,https://a1.muscache.com/im/pictures/39327812/d...,2572247,https://www.airbnb.com/users/show/2572247,Andrea,2012-06-07,"Boston, Massachusetts, United States",I live in Boston and I like to travel and have...,within an hour,100%,100%,f,https://a2.muscache.com/im/users/2572247/profi...,https://a2.muscache.com/im/users/2572247/profi...,Roslindale,1,1,"['email', 'phone', 'facebook', 'linkedin', 'am...",t,t,"Pinehurst Street, Boston, MA 02131, United States",Roslindale,Roslindale,NaN,Boston,MA,02131,Boston,"Boston, MA",US,United States,42.286241,-71.134374,t,Apartment,Private room,2,1.0,1.0,1.0,Real Bed,"{TV,Internet,""Wireless Internet"",""Air Conditio...",NaN,$65.00,$400.00,NaN,$95.00,$10.00,0,$0.00,2,15,a week ago,NaN,26,54,84,359,2016-09-06,36,2014-06-01,2016-08-13,94.0,10.0,9.0,10.0,10.0,9.0,9.0,f,NaN,NaN,t,moderate,f,f,1,1.30
2,6976,https://www.airbnb.com/rooms/6976,20160906204935,2016-09-07,Mexican Folk Art Haven in Boston,"Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...",none,The LOCATION: Roslindale is a safe and diverse...,I am in a scenic part of Boston with a couple ...,"PUBLIC TRANSPORTATION: From the house, quick p...","I am living in the apartment during your stay,...","ABOUT ME: I'm a laid-back, friendly, unmarried...","I encourage you to use my kitchen, cooking and...",https://a2.muscache.com/im/pictures/6ae8335d-9...,https://a2.muscache.com/im/pictures/6ae8335d-9...,https://a2.muscache.com/im/pictures/6ae8335d-9...,https://a2.muscache.com/im/pictures/6ae8335d-9...,16701,https://www.airbnb.com/users/show/16701,Phil,2009-05-11,"Boston, Massachusetts, United States","I am a middle-aged, single male with a wide ra...",within a few hours,100%,88%,t,https://a2.muscache.com/im/users/16701/profile...,https://a2.muscache.com/im/users/16701/profile...,Roslindale,1,1,"['email', 'phone', 'reviews', 'jumio']",t,t,"Ardale St., Boston, MA 02131, United States",Roslindale,Roslindale,NaN,Boston,MA,02131,Boston,"Boston, MA",US,United States,42.292438,-71.135765,t,Apartment,Private room,2,1.0,1.0,1.0,Real Bed,"{TV,""Cable TV"",""Wireless Internet"",""Air Condit...",NaN,$65.00,$395.00,"$1,350.00",NaN,NaN,1,$20.00,3,45,5 days ago,NaN,19,46,61,319,2016-09-06,41,2009-07-19,2016-08-05,98.0,10.0,9.0,10.0,10.0,9.0,10.0,f,NaN,NaN,f,moderate,t,f,1,0.47

In [7]:
calendar.head(3)

   listing_id        date available price
0    12147973  2017-09-05         f   NaN
1    12147973  2017-09-04         f   NaN
2    12147973  2017-09-03         f   NaN

In [8]:
reviews.head(3)

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,1178162,4724140,2013-05-21,4298113,Olivier,My stay at islam's place was really cool! Good...
1,1178162,4869189,2013-05-29,6452964,Charlotte,Great location for both airport and city - gre...
2,1178162,5003196,2013-06-06,6449554,Sebastian,We really enjoyed our stay at Islams house. Fr...

Для всех ли объявлений есть календарь?

In [10]:
calendar_ids = set(calendar['listing_id'].unique())
listings_ids = set(listings['id'].unique())
missing = listings_ids - calendar_ids
print(len(missing))

0

Для какой доли объявлений нет ни одного отзыва?

In [11]:
no_reviews_count = (listings['number_of_reviews'] == 0).sum()
total = len(listings)
fraction = no_reviews_count / total

print(f"Без отзывов: {no_reviews_count} из {total}")
print(f"Доля {fraction:.4f} ({fraction*100:.2f}%)")

Без отзывов: 756 из 3585
Доля 0.2109 (21.09%)

Сколько объявлений не были доступны для сдачи ни разу за представленный период?

In [16]:
has_available = calendar.groupby('listing_id')['available'].apply(lambda x: (x == 't').any())
never_available = (~has_available).sum()
print(never_available)

679

In [15]:
available_days = calendar.groupby('listing_id')['available'].apply(lambda x: (x == 't').sum())
never_available2 = (available_days == 0).sum()
print(never_available2)
print(never_available == never_available2)

679
True

1. Как зовут владельца, у недвижимости которого за отчетный период была наибольшая разница между максимальной и минимальной ценой?

Цены в календаре записаны как строки типа '$100.00'. Нужно преобразовать их в числа.
Сначала пробовал просто убрать символы и применить astype(float), но получил NaN везде. Оказалось проблема в пустых значениях.

In [20]:
calendar['price_num'] = pd.to_numeric(
    calendar['price'].str.replace('$', '', regex=False).str.replace(',', '', regex=False),
    errors='coerce'
)

print(f"\nNaN: {calendar['price_num'].isna().sum()}")
print(f"Ненулевых: {calendar['price_num'].notna().sum()}")

NaN: 665853
Ненулевых: 643037

теперь ищем min и max и далее разницу

In [25]:
price_stats = calendar.groupby('listing_id')['price_num'].agg(['min', 'max'])
price_stats['diff'] = price_stats['max'] - price_stats['min']

max_diff_id = price_stats['diff'].idxmax()
max_diff_value = price_stats['diff'].max()

print(f"Listing ID: {max_diff_id}")
print(f"Разница: ${max_diff_value:.2f}")

owner = listings[listings['id'] == max_diff_id]['host_name'].values[0]
print(f"Владелец: {owner}")

Listing ID: 447826
Разница: $7092.00
Владелец: Hilary

In [26]:
calendar['max_price'] = calendar.groupby('listing_id')['price_num'].transform('max')
calendar['min_price'] = calendar.groupby('listing_id')['price_num'].transform('min')
calendar['diff'] = calendar['max_price'] - calendar['min_price']

max_diff_id2 = calendar.loc[calendar['diff'].idxmax(), 'listing_id']
owner = listings[listings['id'] == max_diff_id2]['host_name'].values[0]
print(f"Владелец: {owner}")

Владелец: Hilary

In [23]:
print("agg")
%timeit calendar.groupby('listing_id')['price_num'].agg(['min', 'max'])

print("transform")
%timeit calendar.groupby('listing_id')['price_num'].transform('max') - calendar.groupby('listing_id')['price_num'].transform('min')

Способ 1 (agg):
23.1 ms ± 286 μs per loop (mean ± std. dev. of 7 runs, 10 loops each)

Способ 2 (transform):
48.1 ms ± 486 μs per loop (mean ± std. dev. of 7 runs, 10 loops each)

2. В таблице listings достаточно много самых разных колонок. В частности, есть host_listings_count, host_total_listings_count и calculated_host_listings_count. По названию понятно, что это "какое-то" число объявлений хозяина недвижимости, но какое?

    Внимание вопрос. Является ли какое-то из этих чисел количеством объявлений из listings для каждого хозяина недвижимости? Сколько в среднем объектов недвижимости у хозяина из числа указанных в listings? А сколько максимально?

    Приветствуются промежуточные вычисления и рассуждения по этому вопросу. Например, было бы круто проверить, что для всех записей одного и того же хозяина одинаковые значения в указанных выше трех столбцах

In [28]:
consistency_check = listings.groupby('host_id')[['host_listings_count', 'host_total_listings_count','calculated_host_listings_count']].std()
print(f"host_listings_count: {(consistency_check['host_listings_count'] > 0).sum()}")
print(f"host_total_listings_count: {(consistency_check['host_total_listings_count'] > 0).sum()}")
print(f"calculated_host_listings_count: {(consistency_check['calculated_host_listings_count'] > 0).sum()}")

host_listings_count: 0
host_total_listings_count: 0
calculated_host_listings_count: 0

для каждого хозяина во всех его объявлениях стоят одинаковые значения

надо посчитать количество объявлений для каждого хозяина и сравнить

In [30]:
real_count = listings.groupby('host_id').size()
host_data = listings.groupby('host_id')[['host_listings_count','host_total_listings_count', 'calculated_host_listings_count']].first()
comparison = pd.DataFrame({
    'real': real_count,
    'host_listings': host_data['host_listings_count'],
    'host_total': host_data['host_total_listings_count'],
    'calculated': host_data['calculated_host_listings_count']
})

comparison.head(10)

         real  host_listings  host_total  calculated
host_id
4240        2              6           6           2
4804        1              5           5           1
8021        1              5           5           1
8061        1              1           1           1
8229        6              7           7           6
16701       1              1           1           1
25188      79            558         558          79
26988      10             12          12          10
38440       4              4           4           4
38997       1              7           7           1

проверим какая колонка наиболее "точная"

In [31]:
print(f"host_listings_count: {(comparison['real'] == comparison['host_listings']).mean()*100:.1f}%")
print(f"host_total_listings_count: {(comparison['real'] == comparison['host_total']).mean()*100:.1f}%")
print(f"calculated_host_listings_count: {(comparison['real'] == comparison['calculated']).mean()*100:.1f}%")

host_listings_count: 88.6%
host_total_listings_count: 88.6%
calculated_host_listings_count: 100.0%

In [33]:
comparison[comparison['real'] != comparison['host_total']].head(5)

         real  host_listings  host_total  calculated
host_id
4240        2              6           6           2
4804        1              5           5           1
8021        1              5           5           1
8229        6              7           7           6
25188      79            558         558          79

In [40]:
(comparison['real'] == comparison['calculated']).all()

np.True_

1. Является ли какое-то из этих чисел количеством объявлений из listings для каждого хозяина?

Да, calculated_host_listings_count точно соответствует количеству объявлений в таблице listings

host_listings_count и host_total_listings_count дают меньший процент совпадений. Возможно это данные которые могут учитывать:
- объяления в других городах
- неактивные или удаленные объявления
- объявления которые не попали в этот датсет

2. Сколько в среднем объектов недвижимости у хозяина из числа указанных в listings?

In [36]:
print(f"Среднее количество объектов: {comparison['real'].mean():.2f}")
print(f"Медиана: {comparison['real'].median():.1f}")

Среднее количество объектов: 1.64
Медиана: 1.0

In [38]:
max_host_idx = comparison['real'].idxmax()
max_count = comparison['real'].max()
max_host_name = listings[listings['host_id'] == max_host_idx]['host_name'].iloc[0]

print(f"Максимум: {max_count}")
print(max_host_name)

Максимум: 136
Kara

3. Коррелируют ли средняя цена на недвижимость за всё время наблюдений и количество отзывов на неё? Иными словами, если средняя цена квартиры больше, то на неё оставляют больше или меньше отзывов?

In [43]:
avg_price = calendar.groupby('listing_id')['price_num'].mean().reset_index()
avg_price.columns = ['id', 'avg_price']

data = listings[['id', 'number_of_reviews']].merge(avg_price, on='id')
data = data.dropna()

data.head()

         id  number_of_reviews  avg_price
1   3075044                 36   67.81337
2      6976                 41   65.00000
3   1436513                  1   75.00000
4   7651065                 29   79.00000
5  12386020                  8   75.00000

In [44]:
len(data)

2906

In [46]:
corr_pearson = data['avg_price'].corr(data['number_of_reviews'])
print(f"Корреляция Пирсона {corr_pearson:.4f}")

Корреляция Пирсона -0.1241

корреляция отрицательная, значит чем дороже объявление, тем меньше отзывов.

In [51]:
avg_price_series = calendar.groupby('listing_id')['price_num'].mean()
data2 = listings.set_index('id')[['number_of_reviews']].join(avg_price_series.rename('avg_price'))
data2 = data2.dropna()

corr_pearson2 = data2['avg_price'].corr(data2['number_of_reviews'])
print(f"{corr_pearson2:.4f}")

-0.1241

In [52]:
print("merge")
%timeit listings[['id', 'number_of_reviews']].merge(calendar.groupby('listing_id')['price_num'].mean().reset_index().rename(columns={'listing_id': 'id', 'price_num': 'avg_price'}), on='id')

print("join")
%timeit listings.set_index('id')[['number_of_reviews']].join(calendar.groupby('listing_id')['price_num'].mean().rename('avg_price'))

merge
20.6 ms ± 497 μs per loop (mean ± std. dev. of 7 runs, 10 loops each)
join
20.2 ms ± 206 μs per loop (mean ± std. dev. of 7 runs, 10 loops each)

4. Давайте рассмотрим кейс, в котором имена хозяина недвижимости и гостя совпадают. Как зовут хозяйку, у которой было в качестве гостей больше всего тёзок? Что все её гости отмечали в качестве плюсов сдаваемой недвижимости?

In [53]:
reviews_host = reviews.merge(listings[['id', 'host_name', 'host_id']], 
                              left_on='listing_id', right_on='id')

reviews_host[['reviewer_name', 'host_name']].head()

  reviewer_name host_name
0       Olivier      Izzy
1     Charlotte      Izzy
2     Sebastian      Izzy
3        Marine      Izzy
4        Andrew      Izzy

In [55]:
namesakes = reviews_host[reviews_host['reviewer_name'].str.lower() == 
                         reviews_host['host_name'].str.lower()]
namesakes[['reviewer_name', 'host_name']].head()

     reviewer_name host_name
762           Lisa      Lisa
1504         Jason     Jason
2062          Sara      Sara
2069          Sara      Sara
2223           Dan       Dan

In [56]:
len(namesakes)

105

In [58]:
namesakes.groupby(['host_id', 'host_name']).size().sort_values(ascending=False).head()

host_id  host_name
85770    Robert       3
1444340  Will         3
9898255  Jessica      3
5618949  Alan         3
2503703  Susan        3
dtype: int64

In [76]:
namesake_count = namesakes.groupby(['host_id', 'host_name']).size().sort_values(ascending=False)
top_host_name = namesake_count.index[0][1]
top_count = namesake_count.iloc[0]

top_host_name

'Robert'

Что все её гости отмечали в качестве плюсов сдаваемой недвижимости?

In [77]:
top_host_id = namesake_count.index[0][0]
comments = namesakes[namesakes['host_id'] == top_host_id]['comments']

comments.head(3)

8912     Robert was very welcoming and provided a great...
54807    Great location, Robert was an ideal host. This...
54847    Robert was welcoming and friendly. The neighbo...
Name: comments, dtype: str

In [80]:
import re
import string

PUNCT_RE = re.compile(f'[{re.escape(string.punctuation)}]')

def preprocess_text(text):
    text = PUNCT_RE.sub('', text)
    return text.split()

all_text = ' '.join(comments.astype(str)).lower()
word_list = preprocess_text(all_text)

word_counts = pd.Series(word_list).value_counts()

stop_words = {
    'the', 'was', 'and', 'a', 'to', 'in', 'very', 'great', 'of', 
    'is', 'but', 'few', 'as', 'we', 'i', 'he', 'she', 'it', 'they', 
    'are', 'were', 'be', 'been', 'am', 'or', 'on', 'at', 'with', 
    'for', 'about', 'from', 'by', 'that', 'this', 'those', 'these',
    'its', 'an', 'not', 'days', 'host', 'boston'
}

filtered_word_counts = word_counts[~word_counts.index.isin(stop_words)]
filtered_word_counts.head(20)

robert           4
welcoming        2
provided         1
deals            1
helpful          1
information      1
places           1
visit            1
location         1
ideal            1
quite            1
luxury           1
accommodation    1
perfectly        1
adequate         1
friendly         1
neighborhood     1
fairly           1
close            1
city             1
Name: count, dtype: int64